<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Utilisation de primefaces</title>
</h:head>
<h:body>
    <p:breadCrumb>
         
    </p:breadCrumb>

    <h1>Utilisation de primefaces</h1>

    <p:messages id="messages" closable="true">
        <p:autoUpdate/>
    </p:messages>

    <p:accordionPanel id="accordion">

        <p:tab id="infocoTab" title="Les infocos">


            <h:form id="infocoAdd">
                <h:outputLabel for="date" value="Date:" style="font-weight:bold"/>
                <p:calendar id="date" required="true"
                            requiredMessage="Le champ date est requis."
                            value="#{infoCoPrimeFacesBean.infoCoAdd.date}"/>
                <h:outputLabel for="lieu" value="à:" style="font-weight:bold"/>
                <p:inputText id="lieu" value="#{infoCoPrimeFacesBean.infoCoAdd.lieu}"/>
                <p:commandButton value="Ajouter cette infoco" id="ajax" action="#{infoCoPrimeFacesBean.add}"
                                 style="margin-right:20px;" update="accordion:infocoListForm" styleClass="ui-priority-primary"/>
            </h:form>
                
                            <br></br>
                
               <h:form id="infocoListForm">
                <p:dataTable editable="true" id="infocolist" var="infoco" value="#{infoCoPrimeFacesBean.infoCos}"
                             editMode="cell" widgetVar="cellInfocos">
                    <p:ajax event="cellEdit" listener="#{infoCoPrimeFacesBean.onCellEdit}"/>
                    <f:facet name="header">
                        Les infocos
                    </f:facet>
                    <p:ajax event="rowEdit" listener="#{infoCoPrimeFacesBean.editInfoCo(infoco)}"/>
                    <p:ajax event="rowEditCancel" listener="#{infoCoPrimeFacesBean.delete(infoco)}"/>
                    <p:column headerText="Lieu">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{infoco.lieu}">
                                </h:outputText>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText id="lieu-edit" value="#{infoco.lieu}"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>

                    <p:column headerText="Date">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{infoco.date}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </f:facet>

                            <f:facet name="input">
                                <p:calendar id="date-edit" value="#{infoco.date}"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    
                    <p:column>
                        <p:commandButton icon="ui-icon-trash" actionListener="#{infoCoPrimeFacesBean.delete(infoco)}"
                                         ajax="true" update="accordion:infocoListForm" />
                    </p:column> 
             
                </p:dataTable>
               </h:form>
                <br/>
           
        </p:tab>
    </p:accordionPanel>
    
</h:body>
</html>