<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <title>Les candidats de l'application administration</title>
    <h:outputStylesheet library="css" name="table-style.css"/>
</h:head>
<h:body>
    <nav>
        <ul>
            <li>
                <a href="candidats.xhtml">Les candidats</a>
            </li>
            <li>
                <a href="../infoco/info-co.xhtml">Les informations collectives</a>
            </li>
            <li>
                Utilisation de primefaces
            </li>
            <li>
                <a href="../security/login.xhtml">
                    Logout
                </a>
            </li>
        </ul>
    </nav>
    <h1>Gestion des candidats</h1>

    <h2>Bonjour #{loginBean.email}</h2>
    <!-- Table de données affichant tous les candidats -->
    <h:dataTable value="#{candidatsBean.candidats}" var="candidat"
                 styleClass="order-table"
                 headerClass="order-table-header"
                 rowClasses="order-table-odd-row,order-table-even-row">
        <h:column>
            <!-- Header -->
            <f:facet name="header">Nom</f:facet>
            <!-- Contenu -->
            #{candidat.nom}
        </h:column>

        <h:column>
            <!-- Header du tableau -->
            <f:facet name="header">Prénom</f:facet>
            <!-- Valeur dans la colonne -->
            #{candidat.prenom}
        </h:column>
    </h:dataTable>


    <!-- Formulaire d'ajout d'un candidat -->
    <h2>Ajouter un candidat </h2>
    <h:form>
        <h:panelGrid columns="2">
            <h:outputText value="Prénom du candidat"/>
            <h:inputText id="prenom" value="#{candidatsBean.nom}"></h:inputText>
            <h:message for="prenom"></h:message>
            <br></br>
            <h:outputText value="Nom du candidat"/>
            <h:inputText id="nom" value="#{candidatsBean.prenom}"></h:inputText>
            <h:message for="nom"></h:message>
            <br></br>
            <h:commandButton value="Ajouter un candidat" action="#{candidatsBean.add()}"></h:commandButton>
        </h:panelGrid>
    </h:form>

</h:body>
</html>

