<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Se connecter</title>
    </h:head>
    <h:body>
        <h1>Veuillez vous connecter !</h1>
   
        <h2>Vous devez être membre gestion de projet</h2>
        <h:form>
            <h:panelGrid columns="2">
                <h:outputText value="Nom de l'utilisateur"/>
                <h:inputText id="login" value="#{loginBean.email}" ></h:inputText>
                <h:message for="login"></h:message>
                <br></br>
                <h:outputText value="Mot de passe"/>
                <h:inputSecret id="password" value="#{loginBean.password}"></h:inputSecret>
                <h:message for="password"></h:message>
                <br></br>
                <h:commandButton action="#{loginBean.checkUserAndPassword()}" value="Me connecter !"></h:commandButton>
            </h:panelGrid>
        </h:form>

    </h:body>
</html>

