<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:t="http://java.sun.com/jsf/core">
<h:head>
    <title>Les candidats de l'application administration</title>
    <h:outputStylesheet library="css" name="table-style.css"/>
</h:head>
<h:body>

    <nav>
        <ul>
            <li>
                <a href="../candidats.xhtml">Les candidats</a>
            </li>
            <li>
                <a href="info-co.xhtml">Les informations collectives</a>
            </li>
            <li>
                Utilisation de primefaces
            </li>
            <li>
                <a href="../security/login.xhtml">
                    Logout
                </a>
            </li>
        </ul>
    </nav>

    <h1>Création d'une infoco</h1>

    <h2>Bonjour #{loginBean.email}</h2>


    <!-- Formulaire d'ajout d'un candidat -->
    <h2>Ajouter une infoco</h2>
    <h:form>
        <h:panelGrid columns="2">
            <h:outputText value="Date de l'infoco"/>
            <h:inputText value="#{infoCoBean.date}">
                <f:convertDateTime pattern="dd/MM/yyyy"/>
            </h:inputText>
            <h:message for="date-infoco"></h:message>
            <br></br>

            <h:outputText value="Lieu de l'infoco"/>
            <h:inputText id="lieu" value="#{infoCoBean.lieu}"></h:inputText>
            <h:message for="lieu"></h:message>

            <br></br>
            <h:commandButton value="Ajouter cette infoco" action="#{infoCoBean.add()}"></h:commandButton>
        </h:panelGrid>
    </h:form>

</h:body>
</html>
