<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" http-equiv="X-UA-Conpatible" />
    <h:outputStylesheet library="css" name="bootstrap.min.css" />
    <title>Edition infoco</title>
    <style type="text/css">
        .updateBtnStyle {
            width: 80px !important;
        }
    </style>
</h:head>
<h:body>
    <h:form id="form" class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-2"></div>
            <h2 style="text-align: center" class="col-sm-4">Edit infoco de
                <h:outputText value="#{infoCoBean.infocoToEdit.lieu}"></h:outputText>
            </h2>
        </div>
        <hr/>
        <div class="form-group">
            <h:outputLabel for="infocoEditDate" class="control-label col-sm-2">Date de l'infoco:</h:outputLabel>
            <div class="col-sm-4">
                <h:inputText id="infocoEditDate" value="#{infoCoBean.infocoToEdit.date}">
                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                </h:inputText>
            </div>
        </div>
        <div class="form-group">
            <h:outputLabel for="infoCoEditLieu" class="control-label col-sm-2">Lieu :</h:outputLabel>
            <div class="col-sm-4">
                <h:inputText id="infoCoEditLieu" value="#{infoCoBean.infocoToEdit.lieu}" class="form-control"/>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-4">
                <h:commandButton value="Mettre à jour" action="#{infoCoBean.edit()}" class="btn btn-primary" />
            </div>
        </div>
    </h:form>
</h:body>
</html>