<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
     
<h:head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" http-equiv="X-UA-Conpatible" />
    <h:outputStylesheet library="css" name="bootstrap.min.css" />
    <h:outputStylesheet library="css" name="table-style.css"/>
    <title>Infoscos</title>
    <style type="text/css">
        .tableUpdated {
            width: 90% !important;
            margin: 17px 58px 0 !important;
        }
        .btnSpace {
            margin: 17px;
        }     
    </style>
</h:head>
<h:body>
    <nav>
        <ul>
            <li>
                <a href="../candidats/candidats.xhtml">Les candidats</a>
            </li>
            <li>
                <a href="../infoco/info-co.xhtml">Les informations collectives</a>
            </li>
            <li>
                <a href="../primefaces/info-co-primefaces.xhtml">Utilisation de primefaces</a>
            </li>
            <li>
                <a href="../security/login.xhtml">
                    Logout
                </a>
            </li>
        </ul>
    </nav>
    <div style="text-align: center;">
        <h2><h:outputText value="Les infocos"/></h2>
    </div>

    <h:form id="infoCoForm">
        <h:dataTable id="infocoTable" binding="#{table}" value="#{infoCoBean.infoCos}" var="infoco" 
                     class="table table-striped table-hover table-bordered tableUpdated">
            <h:column>
                <f:facet name="header">Id : </f:facet>
                <h:outputText value="#{table.rowIndex + 1}" />
            </h:column>
            <h:column>
                <f:facet name="header">Jour de l'infoco : </f:facet>
                <h:outputText value="#{infoco.date}">
                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                </h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">Lieu de l'infoco : </f:facet>
                <h:outputText value="#{infoco.lieu}" />
            </h:column>
            <h:column>
                <f:facet name="header">Action</f:facet>
                <h:commandButton action="#{infoCoBean.delete(infoco)}" value="Delete" class="btn btn-danger" />
                <h:commandButton action="#{infoCoBean.edit(infoco)}" value="Edit" class="btn btn-info" />
            </h:column>
        </h:dataTable>

        <div class="text-center">
            <h:commandButton action="create-infoco.xhtml?faces-redirect=true" value="Créer une infoco" class="btn btn-success btnSpace" />
        </div>
    </h:form>
</h:body>
</html>